@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Willie's Wine Shop was opened in 2010 with one goal: To supply the greatest selection of 
    wines to the greater Monroe area.  Since then we have worked to expand our selection to 
    include hundreds of wines.  
    
    Check out our full selection by creating an account up above. Then, come visit our store
    and experience Louisianna's largest selction of wines under one roof.
    </p>
