@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Any Street<br />
    Monroe, LA 12345<br />
    <abbr title="Phone">P:</abbr>
    555.555.1234
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:cs@willieswine.com">cs@willieswine.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@willieswine.com">marketing@willieswine.com</a>
</address>