@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <div>
        <img src="../../duck_logo.png" alt="Logo" style="width:300px;height:190px" />
        <h1>Willie's Wine Shop</h1>
    </div>
    <div>
        <p class="lead">Offering the finest in wines, straight from Monroe, Louisianna.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Log in or create an account to view our full wine list, available for purchase at our local store in Monroe, LA.
        </p>
    </div>
</div>